@charset "utf-8";
/* CSS Document */

#container {
	margin: auto;
    width: 1000px;
}

ul {list-style-type:none;margin:0;padding:0;overflow:hidden}
li{float:left;}
#nav_item {
	display:block;
	width:240px;
	font-weight:bold;
	color:#FFF;
	background-color:#000;
	text-align:center;
	padding:5px;
	text-decoration:none;
	text-transform:uppercase;
}
#nav_item:hover,#nav_item:active {
	background-color:#09F;
}

#page_item {
	text-align:center;
	padding:5px;
}

body {background-color:#CCC;}
p {color:black;font-size:120%}
img {margin-right:10px;}

#blog_left {
	width:80%;
	float:left;
}
#blog_right {
	width:20%;
	float:right;
}
#login_label {
	width:40%;
	float:left;
}
#login_input {
	width:55%;
	float:right;
}
#login_p {
	height:12px;
}

#footer {
	color:#FFF;
	background-color:#000;
	clear:both;
	text-align:center;
}